<h1><%= @user.username %>'s Profile</h1>
<p><strong>Email:</strong> <%= @user.email %></p>
<h2>My Reviews</h2>
<ul>
  <% @user.reviews.each do |review| %>
    <li>
      <%= link_to review.book.title, book_path(review.book) %> -
      <%= review.rating %> stars
    </li>
  <% end %>
</ul>
