<!-- app/views/books/collection.html.erb -->

<h1>Collection Navigation</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Publisher</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <td><%= book.publisher %></td>
      </tr>
    <% end %>
  </tbody>

</table>
